// <IMPORT>=================================
@use "sass:math"; //модуль Math
// Подключение главного файла миксина в глобальную область видимости
//<MIXINS>=================================
@import "base/mixins";
//</MIXINS>=================================

// <ШРИФТ>=================================
//&display=swap - добавить при подключении через плагин
// @import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700&display=swap);
// @import "fonts/fonts"; // Подключить если есть локальные файлы шрифтов
// @import "fonts/icons"; // Подключить если есть файл иконочного шрифта
// </ШРИФТ></IMPORT>=================================

// <VARIABLES>=================================
$fontFamily: "Roboto";
$fontSize: rem(16); // где 14(px) - размер шрифта по умолчанию из макета
// Основные цвета
$blueColor: #4475f2;
$mainColor: #5e6282;
$lightGrayColor: #9a9ea6;
$lightBlueColor: #23a6f0;
$darkBlueColor: #181e4b;
$hoverCololr: #4737ff;
$mainBgColor: #fafafa; //приглушить цвет для комфорта глаз

// Настройки адаптивной сетки
$minWidth: 320; // Минимальная ширина страницы
$maxWidth: 1440; // Ширина полотна (макета)
$maxWidthContainer: 1240; // Ширина ограничивающего контейнера (0 = нет ограничения)
// Общий отступ у контейнера
$containerPadding: 40; // (30 = по 15px слева и справа, 0 = нет отступа)
$containerPaddingMin: 20; // минимальный отступ
// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты
$pc: em(1440); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobileBig: em(767.98); // Телефоны L
$mobile: em(639.98); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 1;
// </VARIABLES>=================================

// <ОБНУЛЕНИЕ>=================================
@import "base/null";
// </ОБНУЛЕНИЕ>=================================

// <BODY>=================================
body {
	background: $mainBgColor;
	color: $mainColor;
	// @include adaptiveValue("font-size", 25, 18);
	font-weight: 500;
	line-height: 187.5%;
	// Скролл заблокирован
	.lock & {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}
	// Сайт загружен
	.loaded & {
		// transition: opacity 0.8s ease 0s;
		// opacity: 1;
	}
}
// </BODY>=================================

// <WRAPPER>=================================
.wrapper {
	// width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	// Прижимаем footer
	> main {
		flex: 1 1 auto;
	}
	// Фикс для слайдеров
	> * {
		min-width: 0;
	}
}
// </WRAPPER>=================================

// <CONTAINER>=================================
/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
@if ($responsiveType==1) {
	// Отзывчивая
	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			max-width: rem($containerWidth);
			box-sizing: content-box;
			margin: 0 auto;
		}
		@if ($containerPadding>0) {
			@if ($maxWidthContainer>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			} @else {
				// @include adaptiveValue("padding-left", math.div($containerPadding, 2), $containerPaddingMin);
				// @include adaptiveValue("padding-right", math.div($containerPadding, 2), $containerPaddingMin);
			}
		}
	}
} @else {
	// По брейк-поинтам
	[class*="__container"] {
		margin: 0 auto;
		@if ($maxWidthContainer>0) {
			max-width: rem($maxWidthContainer);
			box-sizing: content-box;
		} @else {
			@if ($containerPadding>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
		@media (max-width: $pc) {
			max-width: rem(970);
		}
		@media (max-width: $tablet) {
			max-width: rem(750);
		}
		@media (max-width: $mobileBig) {
			max-width: none;
			@if ($containerPadding>0 and $maxWidthContainer>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
	}
}
// </CONTAINER>=================================

// <IMPORT>=================================
// Подключение базовых стилей, шаблонов (заготовок) и вспомогательных  классов
// Для подключения/отключения конкретных стилей смотри base.scss
@import "base";
@import "common"; // Подключение стилей общих элементов проекта
// Подключение стилей отдельных блоков
@import "header";
@import "footer";
// Подключение стилей отдельных страниц
// @import "home";
// </IMPORT>=================================

// <ОБЩИЙ СТИЛЬ>=================================
.promo {
	height: 780px;
	display: flex;
	&__menu {
		width: 300px;
		height: 100%;
		background: #212121;
		padding: 60px 0 0 10px;
		&-item {
			display: block;
			font-size: 28px;
			line-height: 33px;
			color: #d6d9dc;
			text-decoration: none;
			font-weight: 300;
			padding-left: 40px;
			margin-top: 18px;
			&:hover {
				color: #ffd500;
			}
			&_active {
				border-left: 2px solid #ffd500;
				color: #ffd500;
			}
		}
	}
	&__content {
		width: calc(100% - 600px);
	}
	&__bg {
		height: 360px;
		background: url("../img/main/mars.webp") center (center / cover) no-repeat;
		background-position: top;
		padding: 107px 0 0 61px;
	}
	&__genre {
		font-weight: bold;
		font-size: 18px;
		line-height: 21px;
		color: #ffffff;
		text-transform: uppercase;
	}
	&__title {
		font-weight: bold;
		font-size: 48px;
		line-height: 56px;
		color: #ffffff;
		text-transform: uppercase;
	}
	&__descr {
		width: 481px;
		font-weight: bold;
		font-size: 18px;
		line-height: 21px;
		color: #ffffff;
		text-transform: uppercase;
	}
	&__ratings {
		margin-top: 13px;
		span {
			font-weight: bold;
			font-size: 18px;
			line-height: 21px;
			color: #ffd500;
			margin-right: 25px;
		}
	}
	&__interactive {
		display: flex;
		& > div {
			width: 50%;
			padding: 30px 0 0 60px;
		}
		&-title {
			display: inline-block;
			font-weight: bold;
			font-size: 24px;
			line-height: 28px;
			color: #000000;
			&:after {
				content: "";
				display: block;
				width: 33%;
				height: 2px;
				background-color: #000;
			}
		}
		&-list {
			list-style-type: none;
			margin-top: 35px;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
		}
		&-item {
			display: inline-block;
			position: relative;
			font-weight: 300;
			font-size: 20px;
			line-height: 18px;
			color: #000000;
			margin-bottom: 15px;
			padding-right: 40px;
			text-transform: uppercase;
			span {
				display: block;
				position: absolute;
				left: -30px;
				top: 50%;
				transform: translateY(-50%);
				width: 20px;
				height: 20px;
				background: url("../img/icons/Star.svg") center (center / cover) no-repeat;
			}
			&:before {
				content: "";
				position: absolute;
				bottom: -5px;
				display: block;
				width: calc(100% - 40px);
				height: 2px;
				background-color: #ffd500;
			}
			&:hover {
				.delete {
					content: "";
					display: block;
					position: absolute;
					right: 0px;
					top: 50%;
					transform: translateY(-50%);
					width: 20px;
					height: 20px;
					background: url("../img/icons/trash.png") center (center / cover) no-repeat;
					cursor: pointer;
				}
			}
		}
		.add {
			.promo__interactive-title {
				margin-bottom: 25px;
			}
			span {
				display: block;
				margin: 10px 0;
				font-weight: bold;
				font-size: 16px;
				line-height: 16px;
				color: #000000;
			}
			.yes {
				display: inline;
				margin-left: 10px;
			}
			input[type="text"] {
				width: 270px;
				height: 45px;
				line-height: 50px;
				font-size: 16px;
				background: rgba(196, 196, 196, 0.29);
				border: 1px solid rgba(0, 0, 0, 0.19);
				padding: 0 15px;
				outline: none;
				border-radius: 4px;
				&::placeholder {
					font-weight: 300;
					font-size: 16px;
					color: rgba(0, 0, 0, 0.53);
				}
			}
			button {
				display: block;
				margin-top: 15px;
				width: 170px;
				height: 45px;
				background: #ffd500;
				font-weight: bold;
				font-size: 14px;
				line-height: 14px;
				color: #ffffff;
				border: none;
				outline: none;
				cursor: pointer;
				&:active {
					transform: scale(0.95);
				}
			}
		}
	}
	&__adv {
		background: #212121;
		width: 300px;
		height: 100%;
		&-title {
			font-weight: bold;
			font-size: 18px;
			line-height: 21px;
			color: #ffd500;
			margin: 20px 0;
			text-align: center;
		}
		img {
			width: 100%;
			margin-bottom: 10px;
		}
	}
}

//</ОБЩИЕ СТИЛИ>=================================

//<MAIN>=================================

// ===<animation>===

//</MAIN>=================================

//<FEATURES>=================================

//</FEATURES>=================================

//<SERVICES>=================================

//===<animation>===

//</SERVICES>=================================

//<REVIEWS>=================================

//===<animation>===

//</REVIEWS>=================================

//<LOCATION>=================================

//</LOCATION>=================================
// </ОБЩИЙ СТИЛЬ>=================================

//<screen-01>=================================

//</screen-01>=================================

//<screen-02>=================================

//</screen-02>=================================

//</screen-03>=================================

//</screen-03>=================================
